{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Manager</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/admin_hom.css' %}" >
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">Product Manager</div>
            <button class="menu-toggle" id="menuToggle">
                <i class="fas fa-bars"></i>
            </button>
            <div class="nav-links" id="navLinks">
                <a href="/">Home</a>
                <a href="{% url 'product_list' %}">Products</a>
                <a href="/add-product">Add Product</a>
                <a href="/about">About</a>
            </div>
        </nav>
    </header>
    {% block content %}


    {% endblock %}
    
    <footer>
        <div class="social-links">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
        <p>&copy; <span id="currentYear"></span> Product Manager. All rights reserved.</p>
    </footer>

    <script src="{% static 'js/admin_home.js' %}"></script>
</body>
</html>